
<div class="bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-xl font-semibold text-gray-800 mb-4">Change Password</h2>
    <form method="post" action="{% url 'aps_employee:change_password' %}">
        {% csrf_token %}
        <div class="mb-4">
            <label for="current_pwd" class="block text-gray-600 mb-2">Current Password:</label>
            <input type="password" id="current_pwd" name="current_pwd" class="block w-full p-3 border border-gray-300 rounded-md">
        </div>
        <div class="mb-4">
            <label for="new_pwd" class="block text-gray-600 mb-2">New Password:</label>
            <input type="password" id="new_pwd" name="new_pwd" class="block w-full p-3 border border-gray-300 rounded-md">
        </div>
        <div class="mb-4">
            <label for="confirm_pwd" class="block text-gray-600 mb-2">Confirm Password:</label>
            <input type="password" id="confirm_pwd" name="confirm_pwd" class="block w-full p-3 border border-gray-300 rounded-md">
        </div>
        <button type="submit" class="bg-yellow-400 text-white py-2 px-6 rounded-md hover:bg-yellow-600 hover:text-yellow-100 transition-all duration-300">
            Change Password
        </button>
    </form>
</div>
