{% block content %}
    <div id="change_password">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">Change Password</h2>
        <p class="text-gray-700 mb-4">If you want to reset your password, please provide your current and new passwords below.</p>

        <form method="post" action="reset_password.html">
            {% csrf_token %}
            <fieldset class="border p-4 rounded-lg">
                <legend class="text-lg font-semibold text-gray-700 mb-4"><u>Reset Password</u></legend>

                <div class="form-group mb-4">
                    <label for="current_pwd" class="block text-gray-600 mb-2">Current Password:</label>
                    <input type="password" id="current_pwd" name="current_pwd" class="block w-full p-3 border border-gray-300 rounded-md">
                </div>

                <div class="form-group mb-4">
                    <label for="new_pwd" class="block text-gray-600 mb-2">New Password:</label>
                    <input type="password" id="new_pwd" name="new_pwd" class="block w-full p-3 border border-gray-300 rounded-md">
                </div>

                <div class="form-group mb-4">
                    <label for="confirm_pwd" class="block text-gray-600 mb-2">Confirm Password:</label>
                    <input type="password" id="confirm_pwd" name="confirm_pwd" class="block w-full p-3 border border-gray-300 rounded-md">
                </div>
            </fieldset>

            <div class="my-4">
                <button type="submit" class="bg-[#F29F67] text-white py-2 px-6 rounded-md hover:bg-[#d87d2b] transition-all duration-300">Change Password</button>
            </div>
        </form>
    </div>
{% endblock %}
