<nav class="w-64 min-h-screen p-6 shadow-xl border-r border-gray-100 bg-gray-200">
    <div class="mb-10">
        <h1 class="text-3xl font-semibold text-black tracking-tight gradient-text">APS Portal</h1>
    </div>
    <ul class="space-y-2">
        <!-- Common Navigation for All Roles -->
        <li>
            <a href="{% url 'dashboard' %}"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                Dashboard
            </a>
        </li>
        {% if not is_admin %}
    <li>
        <a href="{% url 'user_profile' request.user.id %}"
            class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
            Profile
        </a>
    </li>
{% endif %}


        <!-- Employee Specific -->
        {% if is_employee %}
        <li>
            <a href="{% url 'aps_employee:employee_support' %}"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                Support
            </a>
        </li>
        <li>
            <a href="{% url 'aps_employee:attendance' %}"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                Attendance
            </a>
        </li>
        <li>
            <a href="{% url 'aps_employee:timesheet' %}"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                Time Sheet
            </a>
        </li>
        <li class="relative">
            <a href="{% url 'aps_employee:leave_view' %}"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                Leave
            </a>

        </li>
     

        {% endif %}

        <!-- HR Specific -->
        {% if is_hr %}
        <li>
            <a href="{% url 'aps_hr:view_leave_requests_hr' %}"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                Employee Leave
            </a>
        </li>
       
        <li>
            <a href="{% url 'aps_hr:attendance' %}"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                Attendance Records
            </a>
        </li>
        <li>
            <a href="{% url 'aps_hr:hr_dashboard' %}"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                Employee Info
            </a>
        </li>
        <li>
            <a href="{% url 'aps_hr:hr_support' %}"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                Employee Support
            </a>
        </li>
        
        {% endif %}

        <!-- Manager Specific -->
        {% if is_manager %}
        <li>
            <a href="#"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                Assign Tasks
            </a>
        </li>
        <li>
            <a href="{% url 'aps_manager:view_leave_requests_manager' %}"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                Approve Leaves
            </a>
        </li>
        <li>
            <a href="{% url 'aps_manager:project_list'%}"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                Projects
            </a>
        </li>
        <li>
            <a href="#"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                Employee Attendance
            </a>
        </li>
        <li>
            <a href="{% url 'aps_manager:view_timesheets' %}"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                View Timesheets
            </a>
        </li>
        <li>
            <a href="{% url 'aps_manager:manager_employee_profile' %}"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                Employee Details
            </a>
        </li>
        
        {% endif %}

        <!-- Admin Specific -->
        {% if is_admin %}
        <li>
            <a href="{% url 'aps_admin:user_sessions' %}"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                User Sessions
            </a>
        </li>
       
     
        <li>
            <a href="{% url 'aps_admin:report' %}"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                Report
            </a>
        </li>
        <li>
            <a href="{% url 'aps_admin:project_dashboard' %}"
            class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                Projects
            </a>
        </li>

        <li>
            <a href="{% url 'aps_admin:attendance' %}"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                Admin Attendance
            </a>
        </li>
        <li>
            <a href="{% url 'aps_admin:admin_support' %}"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                Support
            </a>
        </li>
        {% endif %}

        <!-- Common Navigation for All Roles -->
        <li>
            <a href="{% url 'chat_view' %}"
                class="block py-3 px-4 rounded-lg text-black transition-all duration-300 hover:text-yellow-100 hover:bg-yellow-500 hover:shadow-md">
                Chat Room
            </a>
        </li>
    </ul>
</nav>