<!-- manager_user_detail.html -->
{% extends 'base.html' %}

{% block content %}
<h1>View User Details</h1>

<p><strong>First Name:</strong> {{ user_detail.first_name }}</p>
<p><strong>Last Name:</strong> {{ user_detail.last_name }}</p>
<p><strong>Job Description:</strong> {{ user_detail.job_description }}</p>
<p><strong>Employment Status:</strong> {{ user_detail.employment_status }}</p>
<p><strong>Work Location:</strong> {{ user_detail.work_location }}</p>
<p><strong>Contact Number:</strong> {{ user_detail.contact_number_primary }}</p>
<p><strong>Personal Email:</strong> {{ user_detail.personal_email }}</p>

<p><strong>Date of Birth:</strong> {{ user_detail.dob }}</p>
<p><strong>Hire Date:</strong> {{ user_detail.hire_date }}</p>
<p><strong>Start Date:</strong> {{ user_detail.start_date }}</p>

<p><strong>Blood Group:</strong> {{ user_detail.blood_group }}</p>
<p><strong>Gender:</strong> {{ user_detail.gender }}</p>
<p><strong>PAN Number:</strong> {{ user_detail.panno }}</p>
<p><strong>Aadhar Number:</strong> {{ user_detail.aadharno }}</p>

<p><strong>Emergency Contact Name:</strong> {{ user_detail.emergency_contact_name }}</p>
<p><strong>Emergency Contact Number:</strong> {{ user_detail.emergency_contact_primary }}</p>
<p><strong>Emergency Contact Address:</strong> {{ user_detail.emergency_contact_address }}</p>

{% endblock %}
